<p>Join <%= @teacher.name %>'s class at Letron!</p>

<p>You've been invited to Letron!</p>

<p><a href="<%= follower_accept_url(@teacher) %>">Join <%= @teacher.name %>'s class</a>.</p>

<p>Thanks,<br/>
The Letron Team</p>
