#thanks
  %h1 Thank you for submitting your post-course survey.
  %p
    If you have other feedback you’d like to share with Letron, please email
    = mail_to('teacher@letron.vip', 'teacher@letron.vip') + '.'
