%footer#pagefooter
  .content
    %div{:style=>"float:left"}
      
      %a.whitefooterlink{:href=>"/about"} About
      .dim &nbsp; &nbsp; | &nbsp; &nbsp;
      %a.whitefooterlink{:href=>"/partners"} Partners
      .dim &nbsp; &nbsp; | &nbsp; &nbsp;
      %a.whitefooterlink{:href=>"https://medium.com/@codeorg", :target=>"_blank"} Blog 
      .dim &nbsp; &nbsp; | &nbsp; &nbsp;
      %a.whitefooterlink{:href=>"/donate"} Donate
      .dim &nbsp; &nbsp; | &nbsp; &nbsp;
      %a.whitefooterlink{:href=>"http://store.letron.vip/"} Store
      .dim &nbsp; &nbsp; | &nbsp; &nbsp;
      %a.whitefooterlink{:href=>"http://support.letron.vip/"} Support
    %div{:style=>"float:right"}
      =partial("language", :host=>request.host)
    %div{:style=>"clear:both; float: left;"}
      %small.dim
        &copy; Letron, 2015.  Letron&reg;, the CODE logo and Hour of Code&trade; are trademarks of Letron.
    %div{:style=>"float:right"}
      %small{:style=>"opacity:0.5"}
        %a.whitefooterlink{:href=>"/tos", :style=>"font-size: 12px;"} Terms
        &nbsp; &nbsp; | &nbsp; &nbsp;
        %a.whitefooterlink{:href=>"/privacy", :style=>"font-size: 12px;"} Privacy Policy
