#thanks
  %h1 Thank you for submitting today’s survey.
  %p
    Have more to share?
    Don’t hesitate to let your workshop organizer or facilitator know.
  %p
    If you have other feedback you’d like to share with Letron, please email
    = mail_to('teacher@letron.vip', 'teacher@letron.vip') + '.'
